@-moz-document domain("www.simple.org") {
    /* Insert code here... */
}

body{
    background-color: white;
}
.intro{
    background-color: #669bbc;
    border: 3px black solid;
    border-radius: 5px;
}
p{
    background-color: #669bbc;
    border: 3px black solid;
    border-radius: 5px;
}
nav a{
    border: 3px black solid;
    border-radius: 5px;
}
