@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    margin: 0px;
    background-color: #264653;
}


.grid1{
    grid: 
	'nav nav' 1fr 
	'quicklinksH OverviewH' 1fr
	'quicklinks overview' 2fr
	'repo repo'1fr 
	/1fr 1fr
	;
    display: grid;
    height: auto;
}
@media (max-width: 400px) {
  .grid1 {
    grid:
      'nav' 1fr
      'photo' 5fr
      'quicklinksH' 1fr
      'quicklinks' 2fr
      'Overviewh' 1fr
      'overview' 2fr
      'repo' 1fr;
  }
}
.grid{
    grid: 
	'nav nav' 1fr
	'header header' 2fr
	'about hobbie' 2fr
	'about fav' 2fr
	/1fr 1fr;
    display: grid;
    height: auto;
}
.grid2{
    grid:
	'nav nav'1fr
	'header header' 2fr
	'p11 p21' 2fr
	'p12 p22' 2fr
	'p13 p23' 2fr
	'p14 p24' 2fr
	'p15 p25' 2fr
	'p16 p26' 2fr
	'journal journal' 1fr
	/1fr 1fr;
    display: grid;
    height: auto;
}
.header{
    margin-left: 8px;
    margin-right: 8px;
    padding: 16px 16px;
    height: 100px;
    grid-area: header;
}
nav{
    position: sticky;
    top:0;
    grid-area:nav;
    background-color: #E76F51;
    text-align: center;
    border-width: 0px;
    height: 58px;
}
nav a{
    color: black;
    font-size: 20px;
    float: left;
    padding: 18px 16px;
    display: block;
    text-align: center;

}
nav a:hover{
    background-color: #264653;
    color: #E76F51;
}
#main1{
    margin: 8px;
    grid-area:about;
}
#main3{
    grid-area: hobbie;
    margin: 8px;
    color: #E76F51;
}
#main4{
    margin: 8px;
    grid-area: fav;
    color: #E76F51;
}
h1{
    text-align: center;
    font-size: 45px;
    color: #E76F51;
    font-family: "Oswald", serif;
}
.border{
    border-collapse: collapse;                                                             
    border-style: solid;
    border-width: 5px;
    border-color: #E76F51;
}
p{
    font-size: 20px;
    text-indent: 30px;
    margin: 10px;
    color: #E76F51;
}
h2{
    font-size: 30px;
    text-align: center;
    margin: 10px;
    color: #E76F51;
}
.project-2{
   grid-column: 6/11;
   height: 150px;
   margin: 8px;
}
.project-2 a{
    font-size: 25px;
    color: #E76F51;
    margin-left: 10px;
    margin-top: 10px;
}
.project-2 p{
    margin: 20px;
    color:#E76F51;
}
#food{
    grid-column: 6/7;
    grid-row: 7/8;
}
#sport{
    grid-column: 9/10;
    grid-row: 7/8;
}
table{
    margin: 10px;
    width: 100%;
}
td{
    text-align: center;
    color: #E76F51;
}
#overviewT{
    grid-area: OverviewH;
    margin: 8px
}
#overview{
    grid-area: overview;
    margin: 8px; 
}
#quicklinkT{
    grid-area: quicklinksH;
    margin: 8px;
}
.quicklinks{
    grid-area: quicklinks;
    margin: 8px;
}
.quicklinks a{
    float: bottom;
    text-align: center;
    font-size: 50px;
    padding: 25px 25px;
    color: #E76F51;
}
.image{
    grid-area: photo;
    width: 100%;
}
footer a{
    color: #E76F51;
}
#github{
    grid-area: repo;
    margin: 8px;
}
#github a{
    text-align: center;
    font-size: 25px;
    padding: 25px 25px;
    color: #E76F51;
}
#journal{
    grid-area: journal;
}
