#Car {
    width: 100%;
}

#Car, #Car td, #Car th {
    border: 3px, solid, green;
    border-collapse: collapse;
    text-align: center;
  }

  body {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255) 0%, rgb(12, 110, 131) 100%);
    background-size: 100%;
    background-attachment: fixed;
  }
  #MotorCycles {
    width: 100%;
  }
  #MotorCycles, #MotorCycles th,  #MotorCycles td{
    border: 10px, double, red;
    border-collapse: collapse;
    text-align: center;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
