canvas{
    border: 4px solid #654321;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#top-box {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
    width: 808px;
    background-color: #654321;
}
#top-box h1 {
    color: #DAA520;
    text-align: center;
    font-size: 75px;
    margin: 0px;
}

#bottom-box {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 250px;
    width: 808px;
    background-color: #654321;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    display: grid;
}

#start{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: green;
    font-size: larger;
}

#pause{
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: red;
    font-size: larger;
}

#restart{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: yellow;
    font-size: larger;
}

.background{
    background: white;
    border-radius: 15px;
    border: black 2px solid;
    text-align: center;
}

.rules-container {
    background-color: #fff8dc;
    border: 2px solid #daa520;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    grid-column: 2/5;
    grid-row: 2/4;
  }
